.background-img-container {
    background-image: url("/public/restaurant-sample-pic.jpg");
    background-size: cover;
    background-position: left 50% bottom 70%;;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;



}

.pley-name {
    font-family: 'Baloo 2';
    color: orange;
    font-size: 10em;
}
