/* * {
    outline: 1px solid red;
} */
.sticky-navbar {
    position: sticky;
    top: 0;
}


.bg-custom {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 13vh;

}

.navbar {
    
    position: relative;

}

.nav-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.navbar-brand {
    margin: 0 ;
    padding: 0;
    outline: 1px solid yellow;
    color: #cc5200;

}



.pley-logo {
    height: 110%;
}


.tagline-container {
    margin: 0; 
    padding: 0;
    

}

.tagline {
    margin: 0 ;
    padding: 0 1em;
    color: #cc5200;
    font-size: large;
    font-family: 'Baloo 2';
    font-weight: bolder;
    height: 50%;
    text-align: center;
   
}

.nav-searchbar-container {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    height: 5em;
    padding: .5em;

}
.searchbar-container {
    padding: 0;
    margin: 0;
    width: 75%;
    height: 20%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20%;
    right: 2px;
    

}

.nav-links {
    padding: 10px 0;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

